:root {
  --primary-color: #666;
  --text-color: #222;
}

body {
  margin: 0;
  font-family: 'Open Sans';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat';
  margin: 0;
}

p {
  color: var(--text-color);
}
