.SideProjects {
  grid-area: sideProjects;
}

.SideProjects__item {
  margin-bottom: 32px;
}

.SideProjects__item-header {
  margin-bottom: 5px;
}

.SideProjects__item-header h3 {
  margin-bottom: 0;
}
